
<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">

    <script type="text/javascript" src="/javascripts/searchBarScript.js"></script>

    <script type="text/javascript" src="/javascripts/postNewPage.js"></script>

    <script type="text/javascript" src="/javascripts/footer.js"></script>

    <script type="text/javascript">function FbotonOn() {


                document.getElementById('messageRed').innerHTML = "log in or register";


        }

        function displayMessage() {


            document.getElementById('messageSave').innerHTML = "book saved to list";


        }
    </script>

    <script type="text/javascript">

        $(function () {
            $("#bookLists").change(function () {
                if($(this).val()==5){
                    $('#New').show().focus();
                }else{
                    $('#New').val('').hide();
                }
            });
        });
    </script>

    <title>FileZombie</title>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">







    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="stylesheet" href="/home.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|EB+Garamond|Encode+Sans+Expanded|Inconsolata|Karla|Manuale|Nunito+Sans|Pontano+Sans|Roboto+Slab:300|Rokkitt|Sanchez" rel="stylesheet">



</head>
<body>

<div class="header">
    <div class="nav-left">
        <a href="/home">Home</a>
        <% if (userContext) { %>
            <a class="nav-item nav-link" href="/profile">Profile</a>
            <form method="POST" action="/logout">
                <button type="submit" class="btn btn-link nav-item nav-link">Logout</button>
            </form>
        <% } else { %>
            <a class="nav-item nav-link" href="/login">Log in/Register</a>
        <% } %>
        <div class="terms-privacy">
            By logging in, or creating an account, you agree to FileZombie
            <a href="/terms">Terms</a> /
            <a href="/privacy">Privacy Policy</a>
        </div>
    </div>


<div id="nav"></div>





<h1>Book Profile Page</h1>

<div class="book-profile">

<img src ="<%=book_image %>" alt="Book Image" class="profile-book-image ">
    <div class="book-details">
        <h2><%=book_title%></h2>
        <p>by <%=book_author%></p>
        <p>ISBN-10: <%=book_isbnTen%></p>
        <p>ISBN-13: <%=book_isbnThirteen%></p>
        <p>Page Count: <%=book_pageCount%></p>
        <p>Book Type: <%=book_printType%></p>
        <p><%=book_description%></p>
    </div>
</div>

        <style>
                 .hide { position:absolute; top:-1px; left:-1px; width:1px; height:1px; }
            </style>
    <iframe name="hiddenFrame" class="hide"></iframe>

<% if (userContext)  { %>
<form method="post" action="/fileExpress/<%=book_title%>&<%=book_author%>" target="hiddenFrame"
           onsubmit="displayMessage()">


    <select id="bookLists" name="list" required>
        <option selected="selected">Please select ...</option>
        <option value="read" >read</option>
        <option value="currently reading">currently reading</option>
        <option value="want to read">want to read</option>
        <option value="5">new</option>
    </select>
    <input type='text' id='New' name='New' style="display:none">
    <input type="submit" name="submit">

    <input type="hidden" id="image" name="image" value="<%=book_image%>">

</form>

    <form method="post" action="/fileExpress/<%=book_title%>&<%=book_author%>" target="hiddenFrame"
          onsubmit="displayMessage()">
    <select id="addLists" name="moreList" required>
        <option selected="selected">More ...</option>
        <% addList.slice(3,addList.length).forEach(function(b) { %>
            <option value="<%= b.list_name %>">  <%= b.list_name %></option>
        <% }) %>
    </select>
        <input type="submit" name="submit">

        <style> #messageSave{

                color: orangered;
            }</style>

        <input type="hidden" id="image" name="image" value="<%=book_image%>">
        <p id="messageSave"></p>



    <!--
    <div class = "submit-button">

        <input type="hidden" id="list" name="list" value="<%=read%>">
        <button type="submit"  class="btn-shorten" id="button_ID" >I've read it</button>



    </div>

   -->
</form>

    <% } else { %>


        <select id="bookLists" name="list" required>
            <option selected="selected">Please select ...</option>
            <option value="read" >read</option>
            <option value="currentlyReading">currently reading</option>
            <option value="wantToRead">want to read</option>
            <option value="5">new</option>
        </select>
        <input type='text' id='New' name='New' style="display:none">
        <input type="submit" name="submit" onclick="FbotonOn()">


        <p id="messageRed"></p>

<% }%>




<div id = "footer">

</div>

<!-- Your web-app is https, so your scripts need to be too -->
<script src="https://code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
        crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>








<!--<script src="/public/javascripts/shorten.js"></script> -->
</body>
</html>