
<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" href="/style.css" type="text/css">
<link rel="stylesheet" href="/home.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|EB+Garamond|Encode+Sans+Expanded|Inconsolata|Karla|Manuale|Nunito+Sans|Pontano+Sans|Roboto+Slab:300|Rokkitt|Sanchez" rel="stylesheet">


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script type="text/javascript" src="/javascripts/searchBarScript.js"></script>

<script type="text/javascript" src="/javascripts/postNewPage.js"></script>

<script type="text/javascript" src="/javascripts/footer.js"></script>

<head>
    <title>FileZombie</title>





</head>
<body>


<h1></h1>



<div class="header">
    <div class="nav-left">
        <a href="/home">Home</a>
        <% if (userContext) { %>
            <a class="nav-item nav-link" href="/profile">Profile</a>
            <form method="POST" action="/logout">
                <button type="submit" class="btn btn-link nav-item nav-link">Logout</button>
            </form>
        <% } else { %>
            <a class="nav-item nav-link" href="/login">Log in/Register</a>
        <% } %>
        <div class="terms-privacy">
            By logging in, or creating an account, you agree to FileZombie
            <a href="/terms">Terms</a> /
            <a href="/privacy">Privacy Policy</a>
        </div>
    </div>

    <div id="nav"></div>

</div>
<div class="content">
    <div class="results-header">

        <h1>search results for " <%= bookSearchTerm%> "</h1>


    </div>

    <div class="results-list">

        <%books.forEach(function(b) { %>

        <% if (b.volumeInfo.title !== undefined && b.volumeInfo.authors !== undefined) { %>

            <div class="result-item">
                <div class="result-image">
        <form id="fiction" method="get" action= "/book_profile/<%=b.volumeInfo.title%>&<%=b.volumeInfo.authors%>">




            <input id="book-image_search" type="image"
                   src =  <%=b.volumeInfo.imageLinks === undefined ? " " : b.volumeInfo.imageLinks.thumbnail   %> >


        </div>


        </form>
                <div class="result-info">
                    <h2 class="book-title"><%= b.volumeInfo.title %></h2>
                    <p class="book-author">by <%= b.volumeInfo.authors.join(', ') %></p>
                    <p class="book-description"><%= b.volumeInfo.description ? b.volumeInfo.description.substring(0, 200) + '...' : '' %></p>
                </div>
            </div>

            <% }%>


        <%}); %>



    </div>


    <div class="pagination">


        <a href="?page=<%= currentPage-1%>">Previous</a>
        <a href="?page=<%=currentPage+1%>">Next</a>

    </div>


</div>


<div id = "footer">

</div>


<!-- Your web-app is https, so your scripts need to be too -->
<script src="https://code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
        crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
<!--<script src="/public/javascripts/shorten.js"></script> -->
</body>
</html>